/* Main Stylesheet */

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

/* Font Variables */
$primary_font: 'Roboto', sans-serif;

/* Color Palette Variables */
$color_primary: #191716;
$color_secondary: #E0E2DB;

body {
  background-color: $color_secondary;
  font-family: $primary_font;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

/* Used throughout the website to
   hold the web page in the middle. */
.container {
  width: 70%;
  @media (max-width: 1100px) {
    width: 80%;
  }
  margin: auto;
  overflow: hidden;
}

header {
  padding: 0;
  margin: 0;
  height: 60px;
  color: $color_secondary;
  background-color: $color_primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  @media (max-width: 560px) {
    display: none;
  }
}

nav a {
  padding: 10px;
  color: $color_secondary;
  text-decoration: none;
}

.logo {
  padding: 5px 5px 5px 20px;
  height: 50px;
}


.event-card {
  align-content: center;
  text-align: center;
  min-height: 150px;
  color: $color_primary;
  margin: 10px;
  display: flex;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.event-icon {
  align-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100px;
  @media (max-width: 1100px) {
    padding: 0;
    width: auto;
  }
}

.event-info {
  display: flex;
  flex-direction: column;
  flex: 3 0 0;
}

.event-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  @media (max-width: 1100px) and (min-width: 600px) {
    flex-direction: row;
  }
}

.event-card #title {
  padding: 0;
  margin: 0;
  font-size: 2em;
  text-align: left;
  @media (max-width: 1100px) {
    text-align: center;
  }
}

.event-card #category {
  font-size: 1.2em;
  margin: 0;
  text-align: left;
  @media (max-width: 1100px) {
    text-align: center;
  }
}

.event-card #description {
  padding: 5px;
  margin: 0px;
  text-align: left;
  @media (max-width: 1100px) {
    text-align: center;
  }
}

.newrecord {
  background-color: $color_secondary;
  width: 30%;
  align-content: center;
  margin: auto;
}

.newrecord p {
  padding: 10px 0 0 10px;
  color: $color_primary;
}

.newrecord input {
  margin-left: 10px;
}

footer {
  background-color: $color_primary;
  color: $color_secondary;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.seperator {
  margin-top: 10px;
  min-height: 1px;
  max-height: 1px;
  background-color: $color_primary;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer p {
  color: $color_secondary;
  padding: 15px;
  margin: 0px;
}

#words {
  color: $color_secondary;
}

// https://codepen.io/thebabydino/pen/vQNVQe
// #moreinfo, buyticks

$btn-w: 12em;
$btn-lh: 3;

#moreinfo, #buyticks {
	width: $btn-w;
	background: $color_primary;
	color: $color_secondary;
	font: 700 1.125em/ #{$btn-lh} trebuchet ms, sans-serif;
	text-align: center;
	text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
}

// Form Design inspired by
// https://webdesign.tutsplus.com/tutorials/building-responsive-forms-with-flexbox--cms-26767

.record-container li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.record-container > li > label {
  flex: 1 0 120px;
  max-width: 200px;
}

.record-container > li > label + * {
  flex: 1 0 200px;
}

.record-container > li, .record-container > li > input, .record-container > li > select {
  padding: 10px;
}

.record-container > li > button {
  flex: 1;
  padding: 10px;
}
