/* Main Stylesheet */

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

/* Font Variables */
$primary_font: 'Sen', sans-serif;

/* Color Palette Variables */
$color_primary: #191716;
$color_secondary: #E0E2DB;

/* Responsive Design */
$small-width: 560px;
$centered-width: 1125px;
$single-card: 800px;

/* Global Styles */

* {
  box-sizing: border-box;
}
body {
  font-family: $primary_font;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Used throughout the website to
   hold the web page in the middle. */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  padding: 0;
  margin: 0;
  background-color: $color_primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li, a, button {
  margin: 0;
  text-decoration: none;
  @media (max-width: 720px) {
    font-size: 8px;
  }
}

.logo {
  padding: 5px 5px 5px 20px;
  height: 50px;
}

nav li {
  flex: 1;
  display: inline-block;
  padding: 0px 20px;
}

nav li a {
  font-size: 1.1em;
  color: $color_secondary;
  transition: all 0.4s ease 0s;
}

nav li a:hover {
  color: white;
}

.landing {
  text-align: center;
  color: white;
  min-height: 100%;
}

.landing h2 {
  font-size: 40px;
  padding: 0;
  margin: 0;
  padding: 0 0 150px 0;
}

.landing h1 {
  padding: 150px 0 0 0;
  margin: 0;
  font-size: 80px;
}

.search {
  text-align: center;
  padding: 40px 0 40px 0;
  background: $color_secondary;
  font-size: 30px;
}

.search #searchText {
  color: white;
}

.search input,
button {
  font-size: 30px;
}

.event-showcase {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.event-card {
  border-collapse: separate;
  align-content: center;
  text-align: center;
  min-height: 50px;
  width: 90%;
  color: black;
  margin: 10px;
}

.event-card h1 {
  font-size: 1.3em;
  text-align: left;
  padding: 10px 0 0 10px;
  text-transform: uppercase;
}

.event-card p {
  width: 80%;
  margin-top: -20px;
  text-align: left;
  padding: 10px;
}

.event-card {
    min-height: 100px;
    background-color: white;
}

.event-card #card-price {
  font-size: 20px;
  color: $color_primary;
  margin-top: -10px;

  margin-bottom: 10px;
}

.event-card button {
  margin-bottom: 20px;
  font-size: 18px;
  background-color: $color_primary;
  color: white;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid $color_primary;
  padding: 1rem 4rem 1rem 4rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.event-card button:hover {
  color: $color_primary;
  border: 2px solid $color_primary;
}

.event-card img {
  width: 100%;
  padding: 0;
}

.category {
  color: black;
}

.event-card h1 {
  font-size: 30px;
  margin: 0px 0px 10px -10px;
  padding: 10px 10px 0 10px;
}

.event-card #description {
  padding: 0;
  margin: 0;
}

.category p {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 0;
}

.newrecord {
  background-color: white;
  width: 30%;
  align-content: center;
  margin: auto;
}

.newrecord p {
  padding: 10px 0 0 10px;
  color: $color_primary;
}

.newrecord input {
  margin-left: 10px;
}

footer {
  background-color: $color_primary;
  color: $color_secondary;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.seperator {
  margin-top: 10px;
  min-height: 1px;
  max-height: 1px;
  background-color: black;
}

footer p {
  color: white;
  padding: 10px 0 10px 0;
  margin-bottom: 0px;
  text-align: center;
}

#words {
  color: white;
}

// https://codepen.io/thebabydino/pen/vQNVQe
// #moreinfo, buyticks

$btn-w: 12em;
$btn-lh: 3;

#moreinfo, #buyticks {
	width: $btn-w;
	background: black;
	color: white;
	font: 700 1.125em/ #{$btn-lh} trebuchet ms, sans-serif;
	text-align: center;
	text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}

#buyticks {
  background: $color_secondary;
}
